*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.one{
   text-align: center; 
   font-style: italic;
   font-size: 1.4rem;
   font-weight: 100;
   text-decoration:underline rgb(254, 203, 108);
   text-underline-offset: 12px;
   margin: 2rem;
   
}
#yellow{
    text-underline-offset: 10px;
    text-decoration: underline rgb(252, 192, 82);
}
.header-wrap{
    display: flex;
}
 .nav-wrap{
    display: flex;
    font-size: .8rem;
    font-weight: 50;
    font-style: unset;
    column-gap: 6.5rem;  
    padding-left: 44rem;
}
.nav-menu{
    flex-grow: 1;
    margin: 1rem; 

}

ul{
    list-style-type: none;
 
}
a{
    text-decoration: none;
    color: black;
}

.container{
    position: relative;
    top: 3rem;
}
img{
    width: 100%;
}
#hero-section .container h2{
    position: absolute;
    text-align: center;
    top: 41%;
    left: 26%;
    color: white;
    font-style: italic;
    font-weight: 100;
    font-size: 4.8rem;  
}
#hero-section .container p{
    position: absolute;
    text-align: center;
    top: 54%;
    left: 42%;
    color: white;
    font-weight: 30;
    font-size: 1.3rem;
    font-style: unset;
}

.box{ 
padding-left: 6rem;
margin-top: 10rem;

}
.about{
    font-style: italic;
    font-size: 2rem;
    font-weight: 50;
    margin-top: 13rem;
    margin-bottom: 1.5rem;
    text-underline-offset: 10px;
    text-decoration: underline rgb(252, 192, 82);
}
.para{
    font-size: 1.1rem;
    font-style: unset; 
    width: 36%;
}
.para1{
    font-size: 1.1rem;
    font-style: unset;
    margin-top: 2rem;
    width: 32%;
}
#btn{
    padding: .4rem 2.1rem;
    margin-top: 1.8rem; 
    font-size: .6rem;
    cursor: pointer;
    background-color: white;
    border-style: solid;
    border-width: 1.4px;
}
#hero-about .chef{
    float: right;
    width: 31.8%;
    padding-right: 10rem;
    margin-right: 32rem;
}
#hero-about .box .chef{
    margin-left: 7rem;
}

#menu .menu{
    font-style: italic;
    font-size: 1.8rem;
    margin-top: 12rem;
    font-weight: 50;
    text-align: center;
    margin-bottom: 8rem;
    margin-right: 18rem;
}
.box2{
    padding-left: 4.8rem;
    
}
#sec-2 .pasta{
    float: left;
    width: 20%;
    margin-left: 1rem;
     
}

.menu1{
    font-weight: 40;
    font-style: italic;
    text-align: center;
    padding-top: 6rem;
       
}
.box2 .menu1{
    margin-right: 17rem;
}
.box2 .spice{
    margin-right: 17rem;
    font-size: 1.1rem;
}
.box2 .price1{
    margin-right: 17rem;
    font-size: 1.2rem;
}

.spice{
    font-style: unset;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.price1{
    font-family: 'Segoe UI', Tahoma, 
    Geneva, Verdana, sans-serif;
    text-align: center;
    border-bottom: 2px solid orange;
    padding-bottom: 8.5rem; 
}

#sec-3 .Rissoto{
    float: left;
    width: 20%;
    margin-left: 1rem;
    
}
.box3{
    padding-left: 4.8rem;
    margin-top: 4rem;
}
.box3 .menu2{
    margin-right: 17rem;
}
.box3 .spice2{
    margin-right: 17rem;
    font-size: 1.1rem;
}
.box3 .price2{
    margin-right: 17rem;
    font-size: 1.2rem;
}


.menu2{
     text-align: center;
     font-weight: 50;
     font-style: italic;
     font-size: 1.9rem;
     padding-top: 6rem;
}
.spice2{
    font-size: .9rem;
    font-style: unset;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    
}
.price2{
    font-family: 'Segoe UI', Tahoma, 
    Geneva, Verdana, sans-serif;
    text-align: center;
    border-bottom: 2px solid orange;
    padding-bottom: 8.5rem;
}

#sec-4 .lasagna{
    float: left;
    width: 19.7%;
    margin-left: 2.5rem; 
    
}
.box4{
    padding-left: 3rem;
    margin-top: 4rem;
}

.box4 .menu3{
    margin-right: 17rem;
}
.box4 .spice3{
    margin-right: 17rem;
    font-size: 1.1rem;
}
.box4 .price3{
    margin-right: 17rem;
    font-size: 1.2rem;
}

.menu3{
    font-weight: 50;
    font-style: italic;
    font-size: 1.9rem;
    padding-top: 6rem;
    text-align: center;
}
.spice3{
    font-size: .9rem;
    font-style: unset;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.price3{
    font-family: 'Segoe UI', Tahoma, 
    Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: .9rem;
    border-bottom: 2px solid orange;
    padding-bottom: 19rem;

}
#sec-4 #btn-2{
    font-size: .6rem;
    cursor: pointer;
    background-color: white;
    border-style: solid;
    border-width: 1.4px;
    padding: .3rem 2.4rem;
    position: absolute;
    left: 42rem;
    top: 195.8rem; 
}
footer{
    padding-top: 4rem;
}
.footer-container{
    width: 1140px;
    margin-left: 16rem;
    display: flex;
    justify-content: center;

}
.footer-content{
    margin: auto;
    width: 190px;
    text-align: center;
}
h3{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 30;
    text-align: center;
    margin-bottom: 1.3rem;
    
}
.loc{
    margin-bottom: 2rem;
}
.list{
    font-size: .8rem;
    font-style: unset;

}
p{
    font-style: unset;
    font-size: .8rem;
}
.p1{
    margin-bottom: 1.2rem;
}
.span{
    text-decoration: underline rgb(248, 194, 93);
    text-underline-offset: 12px;
}
.Mon{
    margin-bottom: 1.2rem;
}
.Sun{
    margin-bottom: 1.2rem;
}
.Instagram{
    margin-bottom: .4rem;
}
.Facebook{
     margin-bottom: .4rem;
}
.Twitter{
    margin-bottom: .4rem;
}
.bottom-bar{
    text-align: center;
    margin-top: 3.7rem;
    margin-bottom: 1.5rem;
    margin-right: 15rem;
}
/* media query */
@media (max-width: 1559px) {
    .header-wrap{
    flex-direction: column;
    }
.nav-menu .nav-wrap{
        flex-direction: row;
        align-items: flex-start;
        gap: 7rem;
        position: absolute;
        top: 4rem;
        right: 32rem;
        padding: 1.9rem 1.2rem; 
    }
    .container{
        position: relative;
    }
    #hero-section .container h2{
        position: absolute;
        font-size: 4rem;
    }
    #hero-section .container p{
        font-size: 1.2rem;
    }
    #hero-about .chef{
    float: right;
    width: 36.5%;
    padding-right: 2rem;
    margin-right: 8rem;
}
#sec-2 .pasta{
    float: left;
    width: 26%;
    padding-right: 2rem;  
}
#sec-3 .Rissoto{
    float: left;
    width: 26%;
    padding-right: 2rem;
}
#sec-4 .lasagna{
    float: left;
    width: 25%;
    padding-left: .1rem;
}
#sec-4 #btn-2{
    position: absolute;
    top: 193rem; 
    left: 35rem;
    border-width: 1.4px;
    padding: .3.5rem 2.1rem;
}
.footer-container{
    margin-left: 8rem;
}
.bottom-bar{
    margin-right: 10rem;
}

}

/* 2nd Media Queries */
@media (max-width: 820px) {
    .header-wrap {
        flex-direction: column;
    }
    .nav-menu .nav-wrap{
        flex-direction: row;
        align-items: flex-start;
        gap: 5rem;
        position: absolute;
        top: 4rem;
        left: 12rem;
        padding: 1.9rem 1.2rem; 
    }
    img{
        width: 100%;
    }  
    .container{
        position: relative;

    }  
    #hero-section .container h2{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 1%;
    font-size: 2.1rem;
    width: 100%;  
}
#hero-section .container p{
    position: absolute;
    text-align: center;
    top: 56%;
    left: 42%;
    font-size: .8rem;
    
}  
#hero-about .box{ 
padding-left: 1rem;
/* margin-top: 8rem; */
}
.about{
    font-size: 2rem;
    margin-top: 13rem;
    margin-bottom: 1.5rem;   
}
.para{
    font-size: .8rem;
    font-style: unset; 
    width: 55%;
}
.para1{
    font-size: .8rem;
    font-style: unset;
    margin-top: 1rem;
    width: 55%;
}
#btn{
    padding: .2rem 1rem;
    margin-top: 1.6rem; 
    font-size: .7rem;
}
#hero-about .chef{
    float: right;
    width: 46%;
    padding-right: 4rem;
    position: absolute;
    left: 24rem;
}

.menu{
    font-size: 2rem;
    margin-top: 9rem;
    margin-bottom: 4rem;
}
.box2{
    padding-left: .4rem;
    padding-right: .4rem;
}

   #sec-2 .pasta{
    float: left;
    width: 39%;
    padding-right: 1rem;
     
}

#sec-2 .menu1{
    font-size: 2rem;
    text-align: center;
    padding-top: 6rem;
    position: absolute;
    left: 11rem;
    top: 77rem;
    width: 100%;
    
}
#sec-2 .spice{
    
    font-size: 1rem;
    width: 55%;
    position: absolute;
    left: 23rem;
    top: 81rem;
    padding-top: 3rem;

}
#sec-2 .price1{
    margin-top: 6rem;
    font-size: 1rem;
    padding-top: 10.5rem;
    position: relative;
    left: 10rem;
}
.box2{
    padding-left: .4rem;
    padding-right: .4rem;
}

   .pasta{
    float: left;
    width: 39%;
    padding-right: 1rem;
     
}

.menu1{
    font-size: 2rem;
    text-align: center;
    padding-top: 6rem;
    position: absolute;
    left: 11rem;
    top: 71rem;
    width: 100%;
    
}
.spice{
    
    font-size: 1rem;
    width: 55%;
    position: absolute;
    left: 23rem;
    top: 75rem;
    padding-top: 3rem;

}
.price1{
    margin-top: 6rem;
    font-size: 1rem;
    padding-top: 10.5rem;
    position: relative;
    left: 2rem;
}

.box2{
    padding-left: .4rem;
    padding-right: .4rem;
}

   .pasta{
    float: left;
    width: 39%;
    padding-right: 1rem;
     
}

.menu1{
    font-size: 2rem;
    text-align: center;
    padding-top: 6rem;
    position: absolute;
    left: 11rem;
    top: 71rem;
    width: 100%;
    
}
.spice{
    
    font-size: .9rem;
    width: 55%;
    position: absolute;
    left: 23rem;
    top: 76rem;
    padding-top: 3rem;

}
.price1{
    margin-top: 6rem;
    font-size: 1rem;
    padding-top: 10.5rem;
    position: relative;
    left: 2rem;
}
.box3{
    padding-left: .4rem;
    padding-right: .4rem;
}
#sec-3 .Rissoto{
    float: left;
    width: 39%;
    padding-right: 1rem;
     
}
#sec-3 .menu2{
    font-size: 2rem;
    text-align: center;
    padding-top: 6rem;
    position: absolute;
    left: 11rem;
    top: 103rem;
    width: 100%; 
}
#sec-3 .spice2{
    font-size: .9rem;
    width: 55%;
    position: absolute;
    left: 23rem;
    top: 107rem;
    padding-top: 3rem;
}
#sec-3 .price2{
    font-size: 1rem;
    padding-top: 10.5rem;
    position: relative;
    left: 10rem;
    
}
.box4{
    padding-left: .4rem;
    padding-right: .4rem;
}
#sec-4 .lasagna{
 float: left;
 width: 39%;
 padding-right: 1rem;
     
}
#sec-4 .menu3{
    font-size: 2rem;
    text-align: center;
    padding-top: 6rem;
    position: absolute;
    left: 11rem;
    top: 127rem;
    width: 100%; 

}
#sec-4 .spice3{
    font-size: .9rem;
    width: 55%;
    position: absolute;
    left: 23rem;
    top: 131rem;
    padding-top: 3rem;
}
#sec-4 .price3{
    font-size: 1rem;
    padding-top: 10.5rem;
    position: relative;
    left: 10rem;
}
#sec-4 #btn-2{
    font-size: .6rem;
    padding: .2rem 1rem;
    position: absolute;
    left: 25rem;
    top: 152.5rem; 
}
.footer-container{
    width: 80px; 
    flex-direction: column;
    justify-content: center;
    padding-left: 12rem;

}
.footer-content{
    width: 150px;
    text-align: center;
}
h3{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .8rem;
    margin-top: 1rem;  
}
.loc{
    margin-bottom: 1rem;

}
.bottom-bar{
    margin-left: 7rem;
}

/* 3rd media querie */

@media (max-width: 480px) {
    .header-wrap{
        flex-direction: row;
    }
    .one{
        margin: 2rem;
        font-size: 1rem;
        padding-right: 4rem;
        margin-left: 6rem;
    }
    .nav-menu .nav-wrap{
        flex-direction: row;
        align-items: flex-start;
        gap: 2.5rem;
        position: absolute;
        top: 4rem;
        left: 4rem;
        padding: 1.9rem; 
        
    }

.container{
    position: relative;
    top: 3rem;
}
img{
    width: 100%;
}
#hero-section .container h2{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 1%;
    font-size: 1.25rem;
    width: 100%;  
}
#hero-section .container p{
    position: absolute;
    text-align: center;
    top: 57%;
    left: 35%;
    font-size: .7rem;
    
} 
#hero-about .box{ 
padding-left: .7rem;
margin-top: 8rem;
}
.about{
    font-size: 2rem;
    margin-top: 13rem;
    margin-bottom: 1.5rem;   
}
.para{
    font-size: 1rem;
    font-style: unset; 
    width: 95%;
}
.para1{
    font-size: 1rem;
    font-style: unset;
    margin-top: 1rem;
    width: 95%;
}
#btn{
    padding: .2rem 1rem;
    margin-top: 1.6rem; 
    font-size: .8rem;
    
}
#hero-about .chef{
    width: 100%;
    position: absolute;
    left: .1rem;
    top: 57rem;
}
#hero-about .box .chef{
    margin-left: 1rem;
}

#menu .menu{
    font-size: 2rem;
    margin-top: 30rem;
    margin-bottom: 8rem;
    margin-right: 1rem;
}
.box2{
    padding-left: .4rem;
    padding-right: .4rem;
}

   #sec-2 .pasta{
    /* float: left; */
    width: 93%;
    padding-right: 1rem;
     
}

#sec-2 .menu1{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 6rem;
    position: absolute;
    left: .3rem;
    top: 116rem;
    width: 100%;
    
}
#sec-2 .spice{
    
    font-size: 1.2rem;
    width: 90%;
    position: absolute;
    left: .3rem;
    top: 120rem;
    padding-top: 3rem;

}
#sec-2 .price1{
    font-size: 1rem;
    padding-top: 37.5rem;
    position: relative;
    left: 8rem;
}
.box3{
 padding-left: .4rem;
 padding-right: .4rem;
}
#sec-3 .Rissoto{
    width: 93%;
    padding-right: 1rem;
    
}

#sec-3 .menu2{
     font-size: 1.7rem;
     padding-top: 6rem;
     text-align: center;
    position: absolute;
    left: .1rem;
    top: 167rem;
    width: 100%;

}
#sec-3 .spice2{
    font-size: 1.2rem;
    width: 90%;
    position: absolute;
    left: .3rem;
    top: 171rem;
    padding-top: 3rem;
    
}
#sec-3 .price2{
    font-size: 1rem;
    padding-top: 36.5rem;
    position: relative;
    left: 8rem;
}

#sec-4 .lasagna{
    width: 94%;
    padding-right: .1rem;
    margin-left: .2rem;
    
    
}
.box4{
    padding-left: .4rem;
    padding-right: .4rem;
    
}
#sec-4 .menu3{
    font-size: 1.7rem;
    padding-top: 6rem;
    text-align: center;
    position: absolute;
    left: 1rem;
    top: 218rem;
    width: 100%;
}
#sec-4 .spice3{
    font-size: 1.2rem;
    width: 90%;
    position: absolute;
    left: .3rem;
    top: 222rem;
    padding-top: 3rem;
    
}
#sec-4 .price3{
    font-size: 1rem;
    padding-top: 36.5rem;
    position: relative;
    left: 8rem;
}
 #sec-4 #btn-2{
    font-size: .8rem;
    padding: .2rem 1rem;
    position: absolute;
    left: 12.5rem;
    top: 240rem; 
}
.footer-container{
    width: 80px; 
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;

}
.footer-content{
    width: 150px;
    text-align: center;
}
h3{
    font-size: 1rem;
    text-align: center;
    margin-bottom: .8rem;
    margin-top: 1rem;
    
}
.loc{
    margin-bottom: 1rem;
}
.bottom-bar{
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
}
}

}